* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.one-section {
  position: relative;
  background: url(../img/one-section/logo_3.png);
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 42.9%;
  background-color: #f4f5f6;
}
.one-section ul {
  margin: 0;
  padding-top: 3%;
}
.one-section li {
  display: inline-block;
  color: #26272d;
  padding: 0.5%;
  cursor: pointer;
  text-align: center;
}
.one-section li:nth-child(1) {
  margin-left: 15%;
  padding: 0 1% 0 1%;
}
.one-section li:nth-child(5) {
  margin-left: 8%;
  margin-right: 8%;
  font-size: 120%;
}
.one-section li:nth-child(8) {
  border-radius: 20px;
  background: #267df4;
  color: white;
  width: 8%;
  padding: 0.5% 0.2% 0.5% 0.2%;
}
.one-section li:nth-child(8) i {
  margin-right: 10%;
}
.one-section span {
  font-size: 100%;
  font-weight: 900;
  color: #26272d;
}
.one-section h1 {
  text-align: center;
  font-size: 350%;
  font-weight: 500;
  margin: 5% 0 3% 0;
}
.one-section p {
  text-align: center;
  width: 40%;
  margin: 0 30% 5% 30%;
}
.one-section a {
  margin-left: 43%;
  text-decoration: none;
  color: black;
  border: 1px solid silver;
  border-radius: 20px;
  padding: 0.5% 2% 0.5% 2%;
}
.one-section a:hover {
  background: rgba(0, 0, 0, 0.08);
}
.one-section a i {
  margin-right: 0.5%;
}
.two-section {
  position: relative;
  background-color: #f4f5f6;
}
.two-section ul {
  position: relative;
  margin: 0 15% 0 15%;
  border-bottom: 1px solid #f4f4f4;
  padding-top: 5%;
}
.two-section li {
  display: inline-block;
  color: #26272d;
  width: 43%;
  height: auto;
  padding: 15% 3%;
  background-color: rgba(255, 99, 0, 0.5);
}
.two-section li:nth-child(1) {
  background: url(../img/two-section/lock_1.png);
  background-position: top 15% left 6%;
  background-size: 8%;
  background-repeat: no-repeat;
}
.two-section li:nth-child(2) {
  background: url(../img/two-section/klock_2.png);
  background-position: top 15% left 6%;
  background-size: 8%;
  background-repeat: no-repeat;
}
.two-section p {
  float: left;
  margin-bottom: 8%;
}
